* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
  
}

nav {
  font-weight: 600;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(255, 255, 255, 0.1);
}

.nav--logo {
  height: 100%;
  margin-right: 6px;
}

.nav--name{
  color: #DEEBF8;
  margin-right: auto;
  margin-right: 2em;
}

.drop--select{
  font-family: "Karla", sans-serif;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.search--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.form--search {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  padding: 8px 12px;
  width: 300px;
}

.home--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.home--quote{
  font-family: "cursive";
  font-style: italic; 
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #DEEBF8;
}

.homeImg--container{
  width: 55%;
  height: 55%;
}

.homeImg--image {
  width: 100%;
}

.term--section{
  color: #61DAFB;
  font-weight: bold;
  font-size: 25px;
}

.term--title{
  color: #DEEBF8;
  font-size: 17px;
}

.term--title--ul > li{
  margin-top:46px;
  padding-block: 1px;
}

.term--title--ul > li::marker{
  font-size: 1.5rem;
  color: #61DAFB;
}

.term--description{
  color: #DEEBF8;
  font-size: 13px;
  margin-bottom: 25px;
}

.terms{
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 50px;
}

.term--title--pattern{
  color: #61DAFB;
  font-size: 17px;
}

.patterns{
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 50px;
}

.chart--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.chart--image{
  width: auto;
  height: 250px;
}

.footer{
  color: #DEEBF8;
  margin-top:200px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  padding: 20px;
  height: 60px;
  box-shadow: 0px 2px 12px rgba(255, 255, 255, 0.1);
}